apiVersion: kubeadm.k8s.io/v1beta3
kind: InitConfiguration
skipPhases:
  - addon/kube-proxy
nodeRegistration:
  criSocket: "unix:///var/run/containerd/containerd.sock"
---
apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
kubernetesVersion: "{{ k8s_version }}"
networking:
  podSubnet: "{{ k8s_pod_subnet }}"
  serviceSubnet: "{{ k8s_service_subnet }}"
apiServer:
  certSANs: {{ [ansible_host] + k8s_extra_cert_sans }}
---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
cgroupDriver: systemd