[Unit]
Description=vmagent
After=network.target

[Service]
Type=simple
User={{ monitoring_user }}
Group={{ monitoring_group }}
ExecStart=/usr/local/bin/vmagent-prod \
    -promscrape.config=/etc/vmagent/scrape.yml \
    -remoteWrite.url={{ remote_write_url }} \
    -remoteWrite.tmpDataPath=/tmp/vmagent-remotewrite-data \
    -httpListenAddr=:{{ vmagent_port }}
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target