[defaults]
inventory = ./inventories
roles_path = ./roles:./roles/monitoring:./roles/vpn:./roles/postgres_cluster:./roles/kubernetes:./roles/docker_swarm:./roles/gitlab
pipelining = True
host_key_checking = False
interpreter_python = auto_silent

[ssh_connection]
ssh_args = -o ControlMaster=auto