[bastion]
bastion-host ansible_host=${bastion_ip}

[bastion:vars]
ansible_user=root

[swarm_nodes]
%{ for index, ip in swarm_ips ~}
swarm-node-${index + 1} ansible_host=${ip}
%{ endfor ~}

[swarm_nodes:vars]
ansible_user=root
ansible_ssh_common_args='-o ProxyJump=root@${bastion_ip}'